body {
  background: #272343;
}

#explanation{
    font-style: normal;
    color:#bae8e8;
    padding:0.5%;
    top:0.5%
}

#open{
    position: static;
    background-color:#bae8e8;
    padding:0.2%;
}

#media{
  position: static;
  background-color:#bae8e8;
  padding:0.2%;
  margin-left:0.5%;
}

#describe{
    display:none;
    width:fit-content;
    height:fit-content;
}

#close{
    background-color:#bae8e8;
}

/* Main heading */
.heading {
  color: #bae8e8;
}

/* Countdown timer */
.timer {
  color: #ffffff;
  text-align: center;
  width: 20rem;
  height: 20rem;
  border: 5px solid #fff;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
}

/* remove the padding on the play button */
.btn {
  padding: 0;
}

/* play and reset icons */
.fa-play,
.fa-redo-alt {
  color: #e3f6f5;
  border: 2px solid transparent;
  padding: 1rem;
  border-radius: 2rem;
}

.fa-play:hover,
.fa-redo-alt:hover {
  color: #bae8e8;
  border: 2px solid #bae8e8;
  transition: 0.3s ease;
}

/* Dynamic class */
/* Make the message visible */
.show_message {
  display: block;
  padding: 1rem 0;
  color: #272343;
  background: #e3f6f5;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}